# Dependencies
node_modules/
.node/

# Build
dist/
build/

# Environment
.env
.env.local

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/build/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/*.iml

# IDE
.idea/
.vscode/
*.swp
*.swo

# OS
.DS_Store
Thumbs.db
